.index-post {
	display: block;
	margin: 1% auto;
	width: 600px;
	height: 100%
}

.post-box {
	display: block;
	margin: 1% auto;
	width: 600px;
	height: 100%;
	border-radius: 10px;
	background-color: white;
}

.title {
	font-family: Nexa;
	font-weight: bold;
	color: #1abc9c;
	margin-left: 20%;
	margin-top: 1%;
	font-size: 18px;
	padding-top: 7%;
	position: relative;
}

.desc {
	font-family: Nexa;
	color: #2D2E38;
	margin-top: 7%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 14px;
	margin-bottom: 0px;
}

.profile-post-pic {
	position: relative;
	border-radius: 100%;
	left: 5%;
	width: 70px;
	height: 70px;
	float: left;
	margin-top: 2.5%;
}

.post-footer {
	bottom: 0;
	height: 30px;
	width: 100%;
	background: #e4dfe1;
	padding: 0 15px;
	margin-top: 5%;
}

.options-post{  
	color: #1abc9c !important;
	position: relative;
	padding: 10px 5%;
}

.dropdown-post{
	margin-top: -1%;
    margin-right: 2%;
}